<!DOCTYPE html>
<html lang="no">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="sistevurdering.css">
        <title>Hovedside</title>
    </head>
    <body>
        <div class="header">
            <h1>Mine favorittprosjekter</h1>
            <h3>Her er den første</h3>
            <p id="klokke"></p>
            <script src="/klokke.js"></script>
        </div>
        <div class="topnav">
            <a href="/Interaktiv/Interaktiv historie25.html">Interaktiv historie</a>
            <a href="/konto">Kontoinnstillinger</a>
            <a href="/logout" style="float:right">Logg ut</a>
        </div>
        <div class="grid-container">
            <div class="grid-item"><h2>Hangman</h2> <p><a href="/hangman/hangmankopi.html">Kopi av et hangman aktig spill jeg utviklet med hjelp av javascript</a> </p></div>
            <div class="grid-item"><h2>Julefilm</h2> <p><a href="/julefilm/julefilm.html">En julefilm jeg lagde i en gruppe, i produksjon og historiefortelling</a></p></div>
            <div class="grid-item"><h2>Turistnettside New zealand</h2> <p><a href="/engelsknett/engelskkopi1.html">Kopi av et tverfaglig prosjekt i engelsk og konseptutvikling, der jeg lagde en turistnettside for New Zealand, på engelsk</a> </p></div>
            <div class="grid-item">
                <h2>Feedback</h2> 
                <form action="/kommentar" method="POST">
                    <p><input type="text" name="kommentar" placeholder="Skriv eventuel feedback"></p>
                    <p><button type="submit">Send</button></p>
                </form>
            </div>
            <div class="grid-item">
                <div class="grid-container">
                    <div class="grid-item"><h2>Andres feedback:</h2>
                        <ul>
                          <% for (let i = 0; i < meldinger.length; i++) { %>
                            <li type="none" class="kommentarbunn"><span class="kommentarnavn"><%= meldinger[i].username %>:</span> <span class="kommentarinnhold"><%= meldinger[i].kommentar %></span><span class="kommentartid"><%= meldinger[i].kommentartid %></span>
                                <p id="svarstyle">
                                    <form action="/svar" method="POST">
                                        <p><input type="text" name="svarinput" placeholder="Hva synes du?"><button type="submit">Send</button></p>
                                        <input type="hidden" name="kommentarid" value="<%= meldinger[i].id %>">
                                    </form>
                                </p>
                                <% for (let j = 0; j < svar.length; j++) { 
                                    if (svar[j].kommentarid === meldinger[i].id) {
                                    %>
                                    <li type="none" class="undersvar"><span><%= svar[j].brukernavn %>: </span><span><%= svar[j].svartekst %></span></li>
                                <% } 
                                }%>
                            </li>
                          <% } %>
                          
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>